html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #545454;
}

/* Main Container */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

/* Tabs Bar */

.tabs-container {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.tab {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: rgba(91, 20, 105, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.active-tab {
    background-color: rgba(93, 20, 105, 1);
}

.tab:first-child {
    border-right: 1px solid #fff;
    border-top-left-radius: 15px;
}

.tab:nth-child(2) {
    border-top-right-radius: 15px;
}

/* Header */

.header {
    padding: 15px;
    background-color: #fff;
    color: #5D1469;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 7px 3px #5D1469;
}

/* Crypto List */

.crypto-list-container, .user-holdings {
    overflow: hidden;
    margin: 40px 10px;
    height: 100%;
}

.crypto-table {
    overflow-y: scroll;
    height: calc(100% - 49px);
}

.user-holdings-table {
    overflow-y: scroll;
    height: 100%;
}

.crypto-table table, .user-holdings-table table {
    width: 100%;
}

.column {
    display: grid;
    grid-template-columns: 0.2fr .8fr;
    justify-items: flex-start;
}

.table-heading, .table-row-item {
    text-align: right;
    padding: 20px;
}

.table-row-item {
    position: relative;
}

.serial-number, .crypto-name, .table-row-name, .table-row-serial-number {
    padding: 20px;
    text-align: left;
}

.table-row-name, .table-row-item {
    font-weight: 600;
}

.crypto-symbol {
    color: #808A9D;
    font-weight: 200;
    font-size: 14px;
}

.row-price {
    color: #3861FB;
}

.row-circulating-supply {
    color: #222531;
}

td:first-child, th:first-child {
    position: sticky;
    left: -1px;
    background-color: #ffffff;
}

th:first-child {
    z-index: 2;
}

th {
    font-size: 14px;
    position: sticky;
    top: -1px;
    background-color: #ffffff;
    z-index: 1;
}

td:first-child {
    z-index: 1;
}

.my-holdings {
    color: green;
}

.holdings-worth {
    color: #808A9D;
    font-size: 12px;
    font-weight: 500;
}

.list-text {
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 20px 20px;
    color: #5D1469;
}

.add-in-portfolio-button {
    background-color: #5D1469;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.add-in-portfolio-container {
    position: absolute;
    top: 0;
    right: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-in-portfolio-container form {
    display: flex;
    flex-direction: column;
}

.add-in-portfolio-container input {
    padding: 5px 10px;
    border: 1px solid #5D1469;
    border-radius: 5px;
    max-width: 125px;
}

.add-in-portfolio-container button {
    padding: 5px 20px;
    border: 1px solid #fff;
    background-color: #5D1469;
    color: #fff;
    cursor: pointer;
}

.coin-added {
    color: green;
}

.row-holdings {
    display: flex;
    flex-direction: column;
}

td {
    min-width: 150px;
}

td:nth-child(3) {
    min-width: 100px;
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.loading {
    font-size: 30px;
    text-align: center;
    animation-name: loadingAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.no-holdings {
    font-size: 25px;
    color: rgba(91, 20, 105, 1);
    display: block;
    text-align: center;
}




@media(max-width: 768px) {
    body {
        font-size: 14px;
    }

    /* Header */

    .header {
        font-size: 14px;
    }

    /* Crypto list */

    .list-text {
        font-size: 20px;
    }

    td {
        min-width: 120px;
    }

    .table-heading, .table-row-item {
        padding: 15px;
    }

    .add-in-portfolio-container {
        right: 15px;
    }

    .add-in-portfolio-container button {
        padding: 5px 13px;
    }

    .add-in-portfolio-container input {
        max-width: 100px;
    }

    .add-in-portfolio-button {
        padding: 5px;
    }

    .serial-number, .crypto-name, .table-row-name, .table-row-serial-number {
        padding: 10px;
    }

    td:nth-child(3) {
        min-width: 50px;
    }
}


@keyframes loadingAnimation {
    0% {
        color: rgba(91, 20, 105, 0.2);
    }

    100% {
        color: rgba(91, 20, 105, 1);
    }
}

